<div class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur nostrum ratione culpa consequuntur laboriosam! Debitis tenetur, eveniet quidem earum fuga officiis porro corrupti totam eaque nemo rem quas commodi.</p>
    <button >link</button>
</div>

<style>
    .footer{
        background-color: brown;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer button{
        padding: 2%;
        margin-bottom: 2%;
    }
    p{
        margin: 0;
        padding: 3%;
    }
</style>